.places__title {
  text-align: left;
  max-width: 460px;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 1024px) {
  .places__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .places__title {
    max-width: 340px;
    font-size: 5.469vw;
    line-height: 46px; 
  }
}

@media screen and (max-width: 465px) {
  .places__title {
    font-size: 10vw;
    line-height: 35px;
    max-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .places__title {
    max-width: 288px;
    font-size: 10vw;
    line-height: 35px;
    padding-left: 16px;
  }
}