.places__link {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}

.places__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .places__link{
    font-size: 1.758vw;
  }
}

@media screen and (max-width: 768px) {
  .places__link{
    font-size: 2.344vw;
  }
}

@media screen and (max-width: 485px) {
  .places__link{
    font-size: 3.711vw;
    
  }
}


@media screen and (max-width: 320px) {
  .places__link{
    font-size: 5.625vw;
  }
}

