.intro__quote {
  margin:0 0 33px;
  text-align: left;
  max-width: 690px;
  min-height: 208px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .intro__quote {
    max-width: 100%;
  }
}
