.footer__links {
  width: calc(100% - 188px);
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}



@media screen and (max-width: 768px) {
  .footer__links {
    width: 69.53%;
    column-gap: 2.34%;
    row-gap: 32px;
  }
}
