.cover {
  border: 0;
  margin: 0 auto;
  width: 92.5%;
  min-height: 740px;
  background-image: url(../../images/cover-na-sobakah.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
