.cover {
  margin: 0 auto;
  position: relative;
  padding-top: 92px;
  max-width: 92.5%;
  min-height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 92px 0 0;
    max-width: 100%;
    min-height: 640px;
    padding-top: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 90px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: 66px;
    min-height: 200px;
  }
}
