.cover__title {
  margin: 0 auto 32px;
  padding-top: 245px;
  max-width: 590px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;

}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 195px;
    font-size: 7.031vw;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 9.375vw;
    padding-top: 115px;
  }
}

@media screen and (max-width: 615px) {
  .cover__title {
    padding-top: 33px;
    font-size: 11.707vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding-top: 33px;
    max-width: 288px;
    margin: 0 auto 16px;
    font-size: 10vw;
    line-height: 35px;
    font-size: 32px;
    line-height: 35px;
  }
}
