.intro__title {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: left;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 768px) {
  .intro__title  {
    font-size: 7.031vw;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title  {
    max-width: 288px;
    font-style: normal;
    font-size: 10vw;
    line-height: 35px;
  }
  /* стили для малого смартфона */
}
